nav {
    font-size: larger;
    background-color: $color-bg-light;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
    
    .menubar {
        // width: min-content
        max-width: $page-width;
        // display:inline-block;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a:link,
        a:visited {
            color: $color-white;
            text-decoration: none;
        }


        li {
            list-style-type: none;
            padding: .5rem;


            &:hover {
                cursor: pointer;
                background-color: $color-bg-dark;
            }

            ul {
                visibility: hidden;
                position: absolute;
                background-color: $color-bg-light;


                li {
                    float: none;
                    position: relative;
                    // width: 150px;
                    text-align: left;
                }
            }

            &:hover {

                ul {
                    visibility: visible;
                    padding-left: 0;
                    margin-left: -7px;
                }
            }
        }
    }
}
