.affiliate {
    // margin-top: 4rem;
    // z-index: 10;
    img {
        height: 2.5rem;
        width: auto;
    }
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: space-between;

    p {
        font-size: 1.2rem;
    }

    .affiliate__info:nth-child(2) {
        min-height: 7.5rem;
    }
    .affiliate__info:nth-child(3) {
        min-height: 7.5rem;
    }
    .affiliate__info:nth-child(4) {
        min-height: 8.5rem;
    }

    &__card {
        transition: all 0.2s ease-out;

        &:hover {
            filter: drop-shadow(0 1rem 0.6rem rgba(0, 0, 0, 0.6));
            transform: scale(1.1);
        }
    }

    &__up {
        min-height: 2.5rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .btn {
        margin-top: 0.5rem;
    }

    h4 {
        margin-bottom: 0.5rem;
    }
}
