.crypto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 2rem;
    margin-top: 2rem;

    &__up {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 5rem;
            width: auto; // for SVG
        }
        h4 {
            margin: 0.75rem;
        }
    }

    &__card {
        flex-grow: 0;
        background-color: $color-bg-light;
        border-radius: 0.5rem;
        padding: 1rem;
    }
}
