.general {
  margin-bottom: 4rem;

  &__buttons {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 1000px) {
      & {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1.2rem;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        margin-right: 1rem;
      }
    }
  }
}
