.zelle {
    margin-top: 4rem;
    h4 {
        margin-bottom: 0.5rem;
    }
    img {
        float: right;
    }
    &__how-to {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    li {
        &::before {
            transition: all 0.25s ease-out;
            content: "";
            display: inline-block;
            height: 0.95rem;
            width: 0.95rem;
            border-radius: 0% 50% 50% 50%;
            margin-right: 0.75rem;
            background-color: $color-white;
            opacity: 0.45;
        }
        &:hover::before {
            transform: scale(1.15);
            opacity: 0.85;
        }
    }
    &__note {
        :nth-child(2) {
            margin-bottom: 0.5rem;
        }
    }
}
