.zelle {
    h4 {
        margin-bottom: 0.5rem;
    }
    img {
        float: right;
    }
    &__how-to {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    li::before {
        content: "";
        display: inline-block;
        height: 0.95rem;
        width: 0.95rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        background-color: $color-white;
        opacity: 0.45;
    }
    &__note {
        :nth-child(2) {
            margin-bottom: 0.5rem;
        }
    }
    &__email-wrapper{
        position: relative;
    }
    &__email {
        // animation: ;
        cursor: pointer;
        &:hover + div{
            visibility: visible;
            opacity: 100%;
        }
    }
    &__click-to-copy {
        transition: opacity .2s ease-in;
        opacity: 0;
        visibility: hidden;
        margin-top: 0.5rem;
        text-align: center;
        width: 100%;
        color: $color-white;
        background-color: $color-bg-dark;
        border-radius: 0.5rem;
        padding: 0.5rem;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
