*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: $page-width;
    margin: 5.5rem auto;
}

main, footer, .menubar {
    padding-right: 2rem;
    padding-left: 2rem;
}

body {
    overflow-x: hidden;
    background-color: $color-bg-dark;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  @media only screen and (max-width: 800px) {
    font-size: 1rem;
  }
}

a {
    color: $color-primary;
    text-decoration: none;
    transition: color 0.15s ease-out;

    &:hover {
        color: $color-white;
    }
}

ul {
    list-style-type: none;
}

*::selection {
    color: $color-bg-dark;
    background-color: $color-white;
}
