.btn {
    color: #fff;
    background-color: $color-primary;
    padding: .8rem 1rem .8rem 1rem;
    border-radius: 2rem;
    font-weight: bolder;
    display: inline-block;
    width: auto;
    text-align: center;
}