.btn {
    color: $color-bg-dark;
    background-color: $color-primary;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    animation: all 0.5s ease-out;
    border: 3px solid $color-primary;
    
    &:hover {
        background-color: transparent;
        color: $color-primary;
        border: 3px solid $color-primary;
    }

    &--secondary {
        background-color: transparent;
        color: $color-primary;
        border: 3px solid $color-primary;
        padding: 0.8rem 1rem;
        &:hover {
            background-color: $color-primary;
            color: $color-bg-dark;
        }
    }
}
