.nav {
  background-color: rgba($color-bg-light, .95);
  position: fixed;
  width: 100vw;

  z-index: 10;
  font-size: 1.5rem;

  // display: flex;
  // justify-content: center;

  & > * {
    // flex-grow: 1;
    // flex-shrink: 1;
  }

  filter: drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0.4));

  a:link,
  a:visited {
    color: $color-white;
    text-decoration: none;
  }

  &--active {
    background-color: rgba($color-bg-dark, 0.6);
  }

  &__primary-ul {
    cursor: pointer;

    display: grid;
    // I don't know why repeat(auto, 1fr) doesnt work here
    grid-template-columns: repeat(6, 1fr);
  }

  &__primary-li {
    text-align: center;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      padding-bottom: 1.2rem;
      padding-top: 1.2rem;
      flex-basis: 100%;
    }
  }

  &__secondary-ul {
    width: 100%;
    background-color: $color-bg-light;
    position: absolute;

    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.5));

    position: absolute;
    top: 100%;
    right: 0;
    transition: all 0.2s ease-in-out;

    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0.91);
  }

  &__secondary-li {
    font-size: 85%;
    display: flex;
    justify-content: flex-start;

    border-top: 2px solid $color-bg-dark;
    &:last-child {
      border-bottom: 2px solid $color-bg-dark;
    }

    > a {
      text-align: left;
      flex-grow: 1;
      padding-top: 0.85rem;
      padding-left: 0.85rem;
      padding-bottom: 0.85rem;
    }
  }

  &__primary-li,
  &__secondary-li {
    transition: background-color 0.15s ease-out;
    &:hover {
      background-color: $color-bg-dark;
    }
    &:hover {
      ul {
        transform: scale(1, 1);
        opacity: 100%;
        visibility: visible;
      }
    }
  }
}
